# Laboratorio 7 DB 2
- Brandon Reyes Morales, 221164
- Carlos Valladares, 221164

# Ejercicio 2 (Con ETL)

### Paso 2.1 – Ingestar datos SQL

In [ ]:
# Código

### Paso 2.2 – Ingestar datos desde MongoDB (NoSQL)

In [26]:
# Código

### Paso 2.3 – Integrar ambas fuentes de datos (Transformación)

In [ ]:
# Código

### 2.4 Configure la herramienta para que el proceso de ETL se ejecute cada cierto tiempo (la frecuencia de ejecución queda a su criterio)
### 2.4 Los datos integrados se deberán cargar en la base de datos que hace las veces de data warehouse, sin que se necesite su intervención.

In [ ]:
# Código

# Ejercicio 2 (Con Lenguaje de Programación)

### Paso 2.1 – Ingestar datos SQL

In [27]:
import pandas as pd
from sqlalchemy import create_engine

# Crear conexión a PostgreSQL
engine = create_engine('postgresql://postgres:1234@localhost:5432/demografia_mundial')

# Leer tabla desde SQL
df_poblacion = pd.read_sql('SELECT * FROM pais_poblacion', engine)
df_envejecimiento = pd.read_sql('SELECT * FROM pais_envejecimiento', engine)

print(df_poblacion.head())

         pais  anio  poblacion                       _id continente  \
0      Ruanda  None   12952218  67e2130bc29aa80afae47e7f     África
1     Namibia  None    2540905  67e2130bc29aa80afae47e80     África
2  Mozambique  None   31255435  67e2130bc29aa80afae47e7a     África
3     Camerún  None   26545863  67e2130bc29aa80afae47e7b     África
4      Angola  None   32866272  67e2130bc29aa80afae47e7c     África

   costo_bajo_hospedaje  costo_promedio_comida  costo_bajo_transporte  \
0                     7                     17                     17
1                     8                     25                     11
2                     9                     41                      9
3                     9                     18                     26
4                     9                     30                     15

   costo_promedio_entretenimiento
0                              45
1                              14
2                              32
3                              43
4                              45

### Paso 2.2 – Ingestar datos desde MongoDB (NoSQL)

In [28]:
from pymongo import MongoClient

# Conectar con MongoDB Atlas
cliente = MongoClient("mongodb+srv://221164:123456abc@cluster0.xkjndsz.mongodb.net/")
db = cliente["turismo_mundial"]
coleccion = db["costos_turisticos"]  # o "africa", "america", etc.

# Leer datos
datos_turisticos = list(coleccion.find())
df_turismo = pd.DataFrame(datos_turisticos)

print(df_turismo.head())

                        _id continente             región       país  \
0  67e7a3c6a1c5d2e7d3f3c30d     África     África Austral  Sudáfrica
1  67e7a3c6a1c5d2e7d3f3c30e     África  África Occidental    Nigeria
2  67e7a3c6a1c5d2e7d3f3c30f     África   África del Norte     Egipto
3  67e7a3c6a1c5d2e7d3f3c310     África    África Oriental      Kenia
4  67e7a3c6a1c5d2e7d3f3c311     África   África del Norte  Marruecos

    capital    población                costos_diarios_estimados_en_dólares  \
0  Pretoria   59308690.0  {'hospedaje': {'precio_bajo_usd': 21, 'precio_...
1     Abuja  206139589.0  {'hospedaje': {'precio_bajo_usd': 28, 'precio_...
2  El Cairo  102334404.0  {'hospedaje': {'precio_bajo_usd': 26, 'precio_...
3   Nairobi   53771296.0  {'hospedaje': {'precio_bajo_usd': 29, 'precio_...
4     Rabat   36910560.0  {'hospedaje': {'precio_bajo_usd': 20, 'precio_...

   precio_big_mac_usd
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN

### Paso 2.3 – Integrar ambas fuentes de datos (Transformación)

In [29]:
# Normalizar nombres de país
df_turismo['país'] = df_turismo['país'].str.lower().str.strip()
df_poblacion['pais'] = df_poblacion['pais'].str.lower().str.strip()

# Unir turismo + población
df_integrado = pd.merge(df_turismo, df_poblacion, left_on='país', right_on='pais', how='inner')

df_integrado = pd.merge(df_integrado, df_envejecimiento, on=['pais', 'anio'], how='left')

print(df_integrado.head())

                      _id_x continente_x             región       país  \
0  67e7a3c6a1c5d2e7d3f3c30d       África     África Austral  sudáfrica
1  67e7a3c6a1c5d2e7d3f3c30e       África  África Occidental    nigeria
2  67e7a3c6a1c5d2e7d3f3c30f       África   África del Norte     egipto
3  67e7a3c6a1c5d2e7d3f3c310       África    África Oriental      kenia
4  67e7a3c6a1c5d2e7d3f3c311       África   África del Norte  marruecos

  capital_x    población                costos_diarios_estimados_en_dólares  \
0  Pretoria   59308690.0  {'hospedaje': {'precio_bajo_usd': 21, 'precio_...
1     Abuja  206139589.0  {'hospedaje': {'precio_bajo_usd': 28, 'precio_...
2  El Cairo  102334404.0  {'hospedaje': {'precio_bajo_usd': 26, 'precio_...
3   Nairobi   53771296.0  {'hospedaje': {'precio_bajo_usd': 29, 'precio_...
4     Rabat   36910560.0  {'hospedaje': {'precio_bajo_usd': 20, 'precio_...

   precio_big_mac_usd       pais  anio  ...  costo_bajo_transporte  \
0                 NaN  sudáfrica  None  ...                     25
1                 NaN    nigeria  None  ...                     15
2                 NaN     egipto  None  ...                     29
3                 NaN      kenia  None  ...                     22
4                 NaN  marruecos  None  ...                     21

  costo_promedio_entretenimiento porcentaje_mayores_65  id_pais  nombre_pais  \
0                             43                   NaN      NaN          NaN
1                             28                   NaN      NaN          NaN
2                             33                   NaN      NaN          NaN
3                             34                   NaN      NaN          NaN
4                             35                   NaN      NaN          NaN

   capital_y  continente region  poblacion_y tasa_de_envejecimiento
0        NaN         NaN    NaN          NaN                    NaN
1        NaN         NaN    NaN          NaN                    NaN
2        NaN         NaN    NaN          NaN                    NaN
3        NaN         NaN    NaN          NaN                    NaN
4        NaN         NaN    NaN          NaN                    NaN

[5 rows x 25 columns]

### Paso 2.4 - Cargue los datos integrados en la base de datos que hará las veces de un data warehouse

In [ ]:
import pandas as pd
from pymongo import MongoClient
from bson import ObjectId
from sqlalchemy import create_engine

# 1. Conexiones
engine = create_engine('postgresql://postgres:1234@localhost:5432/demografia_mundial')
cliente = MongoClient("mongodb+srv://221164:123456abc@cluster0.xkjndsz.mongodb.net/")
db = cliente["turismo_mundial"]
coleccion = db["costos_turisticos"]

# 2. Leer datos
df_poblacion = pd.read_sql('SELECT * FROM pais_poblacion', engine)
df_envejecimiento = pd.read_sql('SELECT * FROM pais_envejecimiento', engine)
datos_turisticos = list(coleccion.find())
df_turismo = pd.DataFrame(datos_turisticos)

# 3. Normalizar nombres
df_turismo['país'] = df_turismo['país'].str.lower().str.strip()
df_poblacion['pais'] = df_poblacion['pais'].str.lower().str.strip()
df_envejecimiento['pais'] = df_envejecimiento['pais'].str.lower().str.strip()

# 4. Merge turismo + población + envejecimiento
df_integrado = pd.merge(df_turismo, df_poblacion, left_on='país', right_on='pais', how='inner')
df_integrado = pd.merge(df_integrado, df_envejecimiento, on=['pais', 'anio'], how='left')

# 5. Extraer datos anidados
def extraer_costo(x, categoria, tipo):
    try:
        return x[categoria][tipo]
    except:
        return None

df_integrado['costo_bajo_hospedaje'] = df_integrado['costos_diarios_estimados_en_dólares'].apply(
    lambda x: extraer_costo(x, 'hospedaje', 'precio_bajo_usd'))
df_integrado['costo_promedio_comida'] = df_integrado['costos_diarios_estimados_en_dólares'].apply(
    lambda x: extraer_costo(x, 'comida', 'precio_promedio_usd'))
df_integrado['costo_bajo_transporte'] = df_integrado['costos_diarios_estimados_en_dólares'].apply(
    lambda x: extraer_costo(x, 'transporte', 'precio_bajo_usd'))
df_integrado['costo_promedio_entretenimiento'] = df_integrado['costos_diarios_estimados_en_dólares'].apply(
    lambda x: extraer_costo(x, 'entretenimiento', 'precio_promedio_usd'))

columnas_a_eliminar = [
    '_id', '_id_x', '_id_y',
    'costos_diarios_estimados_en_dólares'
]

for col in columnas_a_eliminar:
    if col in df_integrado.columns:
        df_integrado.drop(columns=col, inplace=True)

# 7. Convertir cualquier ObjectId que quede (por si acaso)
for col in df_integrado.columns:
    if df_integrado[col].apply(lambda x: isinstance(x, ObjectId)).any():
        df_integrado[col] = df_integrado[col].astype(str)

# 8. Cargar al Data Warehouse (PostgreSQL)
df_integrado.to_sql("datos_integrados", engine, if_exists='replace', index=False)

print("✔️ ETL ejecutado correctamente. Datos cargados en 'datos_integrados'")

✔️ ETL ejecutado correctamente. Datos cargados en 'datos_integrados'

# Ejercicio 3

In [31]:
import pandas as pd
from sqlalchemy import create_engine

# Conexión a PostgreSQL
engine = create_engine('postgresql://postgres:1234@localhost:5432/demografia_mundial')

# Leer tabla final integrada
df = pd.read_sql('SELECT * FROM datos_integrados', engine)

# Revisar columnas disponibles
print(df.columns)

Index(['continente_x', 'región', 'país', 'capital_x', 'población',
       'precio_big_mac_usd', 'pais', 'anio', 'poblacion_x', 'continente_y',
       'costo_bajo_hospedaje', 'costo_promedio_comida',
       'costo_bajo_transporte', 'costo_promedio_entretenimiento',
       'porcentaje_mayores_65', 'id_pais', 'nombre_pais', 'capital_y',
       'continente', 'region', 'poblacion_y', 'tasa_de_envejecimiento'],
      dtype='object')

### Insight 1: ¿Qué país tiene el mayor costo promedio de comida?

In [32]:
top_comida = df[['pais', 'costo_promedio_comida']].dropna().sort_values(by='costo_promedio_comida', ascending=False).head(5)
print(top_comida)

         pais  costo_promedio_comida
21     canadá                   74.0
23  guatemala                   72.0
34    bolivia                   70.0
27     panamá                   70.0
35   paraguay                   68.0

Los países con el mayor costo promedio de comida son Canadá, Guatemala y Bolivia, todos con un costo diario superior a $70 USD. Esto implica que son destinos donde la alimentación puede representar una porción significativa del presupuesto de viaje. Esta información es valiosa para agencias de turismo o viajeros que buscan optimizar costos, ya que pueden optar por destinos más económicos si el gasto en comida es una preocupación.

### Insight 2: ¿Qué países tienen una población alta y alto porcentaje de personas mayores?

In [42]:
# Calcular un índice de costo turístico sumando las tres categorías principales
df_costos = df[['pais', 'costo_bajo_hospedaje', 'costo_promedio_comida', 'costo_bajo_transporte']].dropna()

# Costo total estimado por día
df_costos['costo_total_estimado'] = df_costos['costo_bajo_hospedaje'] + df_costos['costo_promedio_comida'] + df_costos['costo_bajo_transporte']

# Top 5 países más caros y más baratos
top_baratos = df_costos.sort_values(by='costo_total_estimado').head(5)
top_caros = df_costos.sort_values(by='costo_total_estimado', ascending=False).head(5)

print("Países más baratos para turistas:")
print(top_baratos)

print("\nPaíses más caros para turistas:")
print(top_caros)

Países más baratos para turistas:
       pais  costo_bajo_hospedaje  costo_promedio_comida  \
18   ruanda                   7.0                   17.0
19  namibia                   8.0                   25.0
6   etiopía                  16.0                   12.0
12   zambia                  13.0                   14.0
14  camerún                   9.0                   18.0

    costo_bajo_transporte  costo_total_estimado
18                   17.0                  41.0
19                   11.0                  44.0
6                    21.0                  49.0
12                   24.0                  51.0
14                   26.0                  53.0

Países más caros para turistas:
         pais  costo_bajo_hospedaje  costo_promedio_comida  \
34    bolivia                  39.0                   70.0
27     panamá                  30.0                   70.0
21     canadá                  49.0                   74.0
51  bangladés                  39.0                   61.0
38      chile                  39.0                   47.0

    costo_bajo_transporte  costo_total_estimado
34                   47.0                 156.0
27                   47.0                 147.0
21                   23.0                 146.0
51                   46.0                 146.0
38                   51.0                 137.0

Se calculó un índice de costo total estimado diario sumando hospedaje, comida y transporte.
Países más económicos:
- Ruanda ($41 USD)
- Namibia ($44 USD)
- Etiopía, Zambia y Camerún.

Países más costosos:

- Bolivia ($156 USD)
- Panamá, Canadá, Bangladés y Chile.

Esta información es útil para clasificar destinos turísticos según nivel de gasto y diseñar paquetes adecuados a distintos perfiles de viajeros.

### Insight 3: ¿Hay alguna región con costos bajos en todas las categorías?

In [38]:
df_promedios = df.groupby('continente_x')[[
    'costo_bajo_hospedaje',
    'costo_promedio_comida',
    'costo_bajo_transporte'
]].mean().sort_values(by='costo_promedio_comida')

print(df_promedios)

              costo_bajo_hospedaje  costo_promedio_comida  \
continente_x
África                   18.050000              26.000000
Europa                   40.476522              34.982609
Asia                     27.550000              36.950000
América                  29.200000              52.000000

              costo_bajo_transporte
continente_x
África                    20.650000
Europa                     9.109565
Asia                      26.750000
América                   30.300000

África se posiciona como el continente más accesible en términos de costos turísticos, con los valores más bajos en hospedaje, comida y transporte. Esta información puede usarse para promover el continente como destino ideal para mochileros, estudiantes o personas con presupuesto limitado. Por otro lado, América y Europa presentan costos significativamente más elevados en una o más categorías, lo que puede requerir enfoques promocionales distintos.